.quiz-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.quiz-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.quiz-modal-content-top {
    display: flex;
    flex-direction: column;
}

.close-btn-modal-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-btn-modal {
    font-size: 2rem;
}

.quiz-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: justify;
}

.quiz-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.quiz-options-gap {
    gap: 10px;
}

.quiz-options-without-gap {
    gap: 0px;
}

.quiz-option {
    display: flex;
    align-items: center;
    width: 100%;
    /* background: #f6f6f6; */
    border: none;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    /* border-radius: 5px; */
    transition: 0.3s ease-in-out;
    outline: none;
    /* border: 2px solid transparent; */
}

.quiz-option .option-letter {
    font-size: 2rem;
}

.quiz-option:hover {
    background: #e0e0e0;
    font-weight: bold;
}

.quiz-option.selected {
    background: #d5d4d4;
}

.option-letter {
    font-size: 18px;
    font-weight: bold;
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    min-height: 35px;
}

.option-text {
    flex-grow: 1;
}

.option-already-answered {
    background: #fff
}

.confirm-btn {
    background: black;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

.confirm-btn:hover {
    background: #444;
}

.confirm-btn-none {
    display: none;
}

/* ❌ ✅ Estilização correta após reabrir o modal */

.correct,
.incorrect {
    color: white !important;
    pointer-events: none !important;
}

.correct {
    background-color: green !important;
}

.incorrect {
    background-color: red !important;
}

.correct-icon {
    color: green !important;
}

.incorrect-icon {
    color: red !important;
}

.correct-background,
.incorrect-background {
    background-color: white !important;
}

.disabled {
    pointer-events: none !important;
    /* opacity: 0.7 !important; */
}

/* Remove hover para questões já respondidas */
.disabled:hover {
    background: inherit !important;
}

.button-none {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

.selected-option {
    border: 2px solid #aaa;
    animation: pulseEffect 1.5s infinite;
}


/* Definição da animação pulse */
@keyframes pulseEffect {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    50% {
        transform: scale(1.01);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

/* Estilização das questoês do tipo image-selection */
.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    /* Largura fixa para cada item */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.image-container:hover {
    transform: scale(1.05);
}

.selectable-image {
    width: auto;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border 0.3s;
}

/* .image-container.selected-correct .selectable-image {
    border: 2px solid green;
} */

/* Ícones de feedback (✅ ou ❌) */
.icon-feedback {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.3s;
}

.completion-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.completion-modal button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Texto abaixo das imagens */
.option-text {
    text-align: center;
    /* margin-top: 5px; */
    font-size: 0.8rem;
    /* font-weight: bold; */
}

/* Ajuste para garantir responsividade */
@media (max-width: 600px) {
    .image-container {
        width: 90px;
    }
}

.quiz-progress {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Container de confetes em tela cheia */
#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 9999;
}

/* Confetes */
.confetti {
    position: absolute;
    width: 10px;
    height: 15px;
    background-color: red;
    opacity: 0.8;
    transform: rotate(15deg);
    animation: fall 3s linear infinite;
}

/* Animação da queda dos confetes */
@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}